<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Mymedicos"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_medicos"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".activities.drawer.DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.My_medicos.NoActionBar" />
        <activity
            android:name=".activities.memes.MemeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.insiders.CategoryPublicationInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.PaymentPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.CheckoutPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.CategoryPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.CartPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.SearchPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" /> <!-- Update your AndroidManifest.xml file -->
        <activity
            android:name=".activities.publications.activity.ProductDetailedActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.cme.CmeCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeReservedActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".logindetails" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.login.FirstActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".activities.ug.UgPostInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.PublicationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.job.category.JobsPostedYou"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.EnterOtp"
            android:exported="false" />
        <activity
            android:name=".activities.login.EnterMobile"
            android:exported="false" />
        <activity
            android:name=".activities.profile.Contactinfo"
            android:exported="false" />
        <activity
            android:name=".activities.profile.Personalinfo"
            android:exported="false" />
        <activity
            android:name=".activities.ug.UgExamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.PgprepActivity"
            android:exported="false" />
        <activity
            android:name=".activities.university.UniversityupdatesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cme.PostCmeActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".JobDetailsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.job.JobsActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.job.category.JobsApplyActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.login.ResetPasswordActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".JobsApplyActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.cme.CmeActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".UgExamActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.job.JobsApplyActivity"
            android:exported="false"
            android:parentActivityName=".activities.job.JobsActivity" />
        <activity
            android:name=".activities.job.JobDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activities.job.JobsActivity" />
        <activity
            android:name=".activities.job.PostJobActivity"
            android:exported="false"
            android:parentActivityName=".activities.job.JobsActivity" />
        <activity
            android:name=".activities.job.JobsActivity"
            android:exported="false"
            android:parentActivityName=".activities.home.HomeActivity" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.GetstartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>