<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="mymedicos"
        android:roundIcon="@drawable/playstore"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_medicos"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".activities.news.NewsDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.slideshow.insider.SpecialitySlideshowInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.slideshow.SlideshowInsidernActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.sidedrawer.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.university.activity.StateUniversitiesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.sidedrawer.ChooseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.sidedrawer.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.sidedrawer.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.sidedrawer.HomeSideActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.sidedrawer.TermsandConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.UserContentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.animations.WrongAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.animations.CorrectAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.activites.detailed.VideoBankDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.activites.detailed.QuestionBankDetailedActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activities.drawer.DrawerActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_drawer" -->
        <!-- android:theme="@style/Theme.My_medicos.NoActionBar" /> -->
        <activity
            android:name=".activities.memes.MemeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.activites.insiders.SpecialityPGInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.insiders.CategoryPublicationInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.university.activity.insiders.UniversitiesInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.PaymentPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.university.activity.UniversitiesListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.CheckoutPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.CategoryPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.CartPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.SearchPublicationActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.publications.activity.ProductDetailedActivity"
            android:theme="@style/Theme.My_medicos.ProductDetail" />
        <activity
            android:name=".activities.cme.CmeCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeReservedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ug.uginsiderActivty"
            android:exported="false" />
        <activity
            android:name=".activities.ug.UgPostInsiderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.publications.activity.PublicationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.job.category.JobsPostedYou"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.EnterOtp"
            android:exported="false" />
        <activity
            android:name=".activities.profile.Contactinfo"
            android:exported="false" />
        <activity
            android:name=".activities.profile.Personalinfo"
            android:exported="false" />
        <activity
            android:name=".activities.ug.UgExamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pg.activites.PgprepActivity"
            android:exported="false" />
        <activity
            android:name=".activities.university.activity.UniversityActivity"
            android:exported="false" />
        <activity
            android:name=".activities.cme.PostCmeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.job.JobsActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.job.JobsApplicantActivty"
            android:exported="false" />
        <activity
            android:name=".activities.job.category.JobsApplyActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.cme.CmeActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".UgExamActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.job.JobsApplyActivity"
            android:exported="false"
            android:parentActivityName=".activities.job.JobsActivity" />
        <activity
            android:name=".activities.job.JobDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activities.job.JobsActivity" />
        <activity
            android:name=".activities.job.PostJobActivity"
            android:exported="false"
            android:parentActivityName=".activities.job.JobsActivity" />
        <activity
            android:name=".activities.job.JobsActivity"
            android:exported="false"
            android:parentActivityName=".activities.home.HomeActivity" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.utils.ConstantsDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.login.GetstartedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.MainActivity"
            android:exported="false" />

        <service
            android:name=".activities.notification.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".activities.cme.PostCmeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>